<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/animate.min.css">


    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="../static/css/astyle.css" />
    <style>
        body{
            /*background: url(../images/mainpage.jpg) no-repeat rgba(255,255,255,0.2);*/
            background-size: 110%;
            padding-top: 50px;
        }
        h1{
            color: black;
            padding: 20px 15px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../static/css/question.css" />
</head>
<body>
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- BACK TO TOP SECTION -->
<a href="#" class="cd-top cd-is-visible cd-fade-out">Top</a>
<div class="header header-1">
    <div class="navbar-main">
        <div class="container">
            <nav id="navbar-example" class="navbar navbar-expand-sm bg-primary">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">About us</a>
                <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">Questions</a>
                <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">Appointments</a>
                <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">Pets</a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">user</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">log out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">English</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">中文</a>
                        </li>
                    </ul>

                </div>
            </nav> <!-- -->

        </div>
    </div>
</div>
<div class="container">
    <h3>Post an announcement</h3>
            <form method="post">
                <div class="form-group">
                    <div class="col-sm-6 offset-sm-3" style="padding-top: 20px">
                        <input id="a_title" class="form-control" placeholder="Title"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6 offset-sm-3" style="padding-top: 20px">
                        <textarea id="a_conntent" class="form-control" rows="8" placeholder="the content of announcement"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="offset-sm-10" style="padding-top: 50px">
                        <button type="button" style="background-color: #d97a08" class="btn btn-success">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../static/js/vendor/jquery.min.js"></script>
<script src="../static/js/vendor/bootstrap.min.js"></script>
<script src="../static/js/vendor/owl.carousel.js"></script>
<script src="../static/js/vendor/jquery.magnific-popup.min.js"></script>

<!-- SENDMAIL -->
<script src="../static/js/vendor/validator.min.js"></script>
<script src="../static/js/vendor/form-scripts.js"></script>

<script src="../static/js/script.js"></script>
</body>
</html>