<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answers</title>
    <!-- ==============================================
	CSS VENDOR
	=============================================== -->
    <link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/animate.min.css">

    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="../static/css/astyle.css" />
    <style>
        body{
            background-size: 110%;
            padding-top: 50px;
        }
        h1{
            color: black;
            padding: 20px 15px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="../static/css/answer.css" />
</head>

<!-- LOAD PAGE -->
<!-- LOAD PAGE -->
<div class="animationload">
    <div class="loader"></div>
</div>
<a href="#" class="cd-top cd-is-visible cd-fade-out">Top</a>
<div class="header header-1">
    <div class="navbar-main">
        <div class="container">
            <nav id="navbar-example" class="navbar navbar-expand-sm bg-primary">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="{{ url_for('employee_main') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Home') }}</a>
                <a href="{{ url_for('announcement') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Announcements') }}</a>
                <a href="{{ url_for('employee_appointment') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Appointments') }}</a>
                <a href="{{ url_for('b_employee') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Manage Employees') }}</a>
                <a href="{{ url_for('employee_qa') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Questions') }}</a>


                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">{{ _('log out') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('employee_login') }}">{{ _('log') }}</a>
                        </li>
                    </ul>

                </div>
            </nav> <!-- -->

        </div>
    </div>
</div>
{% for message in get_flashed_messages() %}
    <div class="alert-warning" align="center">{{ message }}</div>
{% endfor %}
{% block content %}{% endblock %}
<div class="main">
    <p class="question-info">
        <div class="user-info">
                <img src="images/1110055.png" alt="" class="avatar">
                <span class="username"> User Name : {{ customer.cus_username }} </span><br>

                <span class="q_details" style="margin-left: 120px"> Question Detail : {{ detail.question }} </span><br>
                <span class="create-time"> Publish Time : {{ detail.que_time }} </span>
            </div>
    </p>
    <h4>Discussion :</h4>
    <form action="#" method="post">
        <div class="form-group">
            <textarea name='answer' class="form-control" rows="3" placeholder="Comment"></textarea>
            <input type="hidden" name="question_id" value= {{ detail.que_id }}>
        </div>
        <a  class="form-group" style="text-align: right">
            <button type="submit" class="btn btn-primary">{{ _('comment') }}</button>
        </a>
        <a href="{{ url_for('employee_qa') }}"><input type="button" class="btn btn-primary" value="{{ _('back') }}" style="margin-left: 400px"></a>
    </form>
    <h4> Content:</h4>
    <ul class="answer-list">
        {% for a in answer %}
            <li>
                <div class="user-info">
                    <img src="images/1110055.png" alt="" class="avatar">
                    <span class="username"> {{ employee[a.emp_id] }} </span>
                    <span class="create-time"> {{ a.answer_time }} </span>
                </div>
                <p class="answer-content"> {{ a.answer }}</p>
            </li>

        {% endfor %}


    </ul>
</div>

<!-- JS VENDOR -->
<script src="../static/js/vendor/jquery.min.js"></script>
<script src="../static/js/vendor/bootstrap.min.js"></script>
<script src="../static/js/vendor/owl.carousel.js"></script>
<script src="../static/js/vendor/jquery.magnific-popup.min.js"></script>

<!-- SENDMAIL -->
<script src="../static/js/vendor/validator.min.js"></script>
<script src="../static/js/vendor/form-scripts.js"></script>

<script src="../static/js/script.js"></script>

</body>
</html>
