<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>appointment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"/>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>

	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/animate.min.css">

	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="../static/css/astyle.css" />
<style>
        body{
            /*background: url(../images/mainpage.jpg) no-repeat rgba(255,255,255,0.2);*/
            background-size: 110%;
            padding-top: 50px;
        }
        h1{
            color: black;
            padding: 20px 15px;
            text-align: center;
        }
    </style>



</head>
<body>
<!-- LOAD PAGE -->
   <div class="animationload">
    <div class="loader"></div>
</div>
<a href="#" class="cd-top cd-is-visible cd-fade-out">Top</a>
<div class="header header-1">
    <div class="navbar-main">
        <div class="container">
            <nav id="navbar-example" class="navbar navbar-expand-sm bg-primary">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="{{ url_for('boss_main') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Home') }}</a>
                <a href="{{ url_for('announcement') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Announcements') }}</a>
                <a href="{{ url_for('employee_appointment') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Appointments') }}</a>
                <a href="{{ url_for('b_employee') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Manage Employees') }}</a>
                <a href="{{ url_for('employee_qa') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Questions') }}</a>


                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ _('boss') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ _('log out') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('employee_login') }}">{{ _('log') }}</a>
                        </li>
                    </ul>

                </div>
            </nav> <!-- -->

        </div>
    </div>
</div>
{% for message in get_flashed_messages() %}
    <div class="alert-warning" align="center">{{ message }}</div>
{% endfor %}
{% block content %}{% endblock %}

<div class="box">
    <div class="title">{{ _('MANAGE EMPLOYEE') }}</div>
    <div class="content" >

        <div class="container content_width">
            <div class="person_search">
                <div class="search_input">


                    <div class="input-group mb-3">
                        <span>{{ _('Name:') }}</span>
                        <input id="Ktext" oninput="refresh_list(this.value)" type="text" class="form-control" placeholder="{{ _('please enter the name of employee') }}">
                    </div>
                    <script>
                        var alllist
                        function refresh_list(value){
                            alllist=document.querySelectorAll('.testrow')
                            if(typeof value == "string"){
                                for(var i=0;i<alllist.length;i++){
                                    tc=alllist[i].querySelector('.ena')
                                    if(tc.textContent.includes(value)){
                                        alllist[i].removeAttribute('hidden')
                                    }else{
                                        alllist[i].setAttribute('hidden','hidden')
                                    }
                                }
                            }
                        }
                    </script>
                </div>
            </div>
            <div class="line"></div>
        </div>

        <div class="export">
            <div class="modal fade" id="renyuan">
                <div class="modal-dialog modal-lg modal_position">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ _('Eidt') }}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                            <table id="xztb" class="table">

                                <tbody>
                                <tr>
                                    <td class="tb_bg"><label for=""><font style="font-size: 14px; color: red;">*</font>{{ _('name') }}</label>
                                    <td><input class="userName" type="text" placeholder="{{ _('please enter the name of your employee.') }}"/></td>
                                    <td class="tb_bg"><label for="">{{ _('city') }}</label></td>
                                    <td>
                                        <select class="form-control select_down" style="font-size: 13px; color: #666;">
                                            <option>{{ _('Beijing') }}</option>
                                            <option>{{ _('Chengdu') }}</option>
                                            <option>{{ _('Shanghai') }}</option>
                                        </select>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="tb_bg"><label for=""><font style="font-size: 14px; color: red;">*</font>{{ _('tel') }}</label>
                                        </td>
                                    <td><input class="phoneNum" type="number" placeholder="{{ _('Please write down the correct number') }}"/></td>
                                    <td class="tb_bg"><label for="">{{ _('status') }}</label></td>
                                    <td><input class="petstype" type="text" placeholder="{{ _('employee status') }}"/></td>

                                    </td>

                                    </td>


                                </tr>

                                </tbody>
                            </table>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('cancel') }}</button>
                            <button id="add_btn" type="button" class="btn btn-secondary">{{ _('confirm') }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table id="tb" class="table">
            <thead>
            <tr>

                <th>name</th>
                <th>tel</th>
                <th>status</th>
                <th>email</th>
                <th>operation</th>
            </tr>
            </thead>
            <tbody id="show_tbody">
            {% for l in list %}
            <tr class="testrow">
                <td class="ena">{{l.emp_username}}</td>
                <td>{{l.phone}}</td>
                <td style="color:{{{'1':'green','0':'red'}[l.employee_pass] }}">{{{'1':'pass','0':'fail'}[l.employee_pass]}}</td>
                <td>{{l.email}}</td>

                <td>
                    <a href="#" onclick="o=this;window.p=o.parentNode.parentNode;
                    document.querySelector('#mapp .en').value=window.p.children[0].textContent;
                    document.querySelector('#mapp .et').value=window.p.children[1].textContent;
                    document.querySelector('#mapp .es').value=window.p.children[2].textContent;
                    document.querySelector('#mapp .em').value=window.p.children[3].textContent;
                    document.querySelectorAll('#mapp .sel122');
" class="edit" data-toggle="modal" data-target="#mapp" >edit</a>
                    <a href="#" onclick="o=this;window.p=o.parentNode.parentNode;
                    document.querySelector('#dapp .en').value=window.p.children[0].textContent;
                    document.querySelector('#dapp .et').value=window.p.children[1].textContent;
                    document.querySelector('#dapp .es').value==window.p.children[2].textContent;
                    document.querySelector('#dapp .em').value=window.p.children[3].textContent;
                    document.querySelectorAll('#dapp .sel122');
" class="edit" data-toggle="modal" data-target="#dapp" >delete</a>
                </td>
            </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="mapp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">

                    {{ _('Employees information') }}

                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form method="post">


                    <div class="form-group" style="padding-top: 20px">
                        <label class="col-sm-3">name</label>
                        <input type="text" name="0" class="form-control en" >
                    </div>
                    <div class="form-group" style="padding-top: 20px">
                        <label class="col-sm-3">telphone</label>
                        <input type="text" name="1" class="form-control et" >
                    </div>

                    <div class="form-group" style="padding-top: 20px">
                        <label class="col-sm-3">status</label>
                        <select name='place' class="form-control place" id="sel122">
                            <option  name='2' value="0"  class="form-control es">{{ _('fail') }}</option>
                            <option name='2' value="1"  class="form-control es">{{ _('pass') }}</option>
                        </select>
                    </div>

                    <div class="form-group" style="padding-top: 20px;display: none">
                        <label class="col-sm-3">email</label>
                        <input type="text" name="3" class="form-control em" >
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" value="1" name="modify" style="margin-left: 20px;color: black" >{{ _('Close') }}
                        </button>
                        <button type="submit"  value='1' name="modify" class="btn btn-primary" style="color: black">{{ _('Save') }}
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    </div>
<div class="modal fade" id="dapp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">

                    {{ _('Employees information') }}

                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form method="post">


                    <div class="form-group" style="padding-top: 20px;display: none">
                        <label class="col-sm-3" >name</label>
                        <input type="text" name="0" class="form-control en" >
                    </div>
                    <div class="form-group" style="padding-top: 20px;display: none">
                        <label class="col-sm-3">telphone</label>
                        <input type="text" name="1" class="form-control et" >
                    </div>

                    <div class="form-group" style="padding-top: 20px;display: none">
                        <label class="col-sm-3">status</label>
                        <input type="text" name="2" class="form-control es" value="fail" >
                    </div>

                    <div class="form-group" style="padding-top: 20px;display: none">
                        <label class="col-sm-3">email</label>
                        <input type="text" name="3" class="form-control em" >
                    </div>

                    <div class="modal-footer">

                        <button type="submit" class="btn btn-primary" style="color: black">{{ _('Close') }}
                        </button>
                        <button type="submit"  value='1' name="modify" class="btn btn-primary" style="color: black">{{ _('Save') }}
                        </button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    </div>

<script language="javascript" type="text/javascript">

</script>
    <script src="/static/js/vendor/jquery.min.js"></script>
	<script src="/static/js/vendor/bootstrap.min.js"></script>
	<script src="/static/js/vendor/owl.carousel.js"></script>
	<script src="/static/js/vendor/jquery.magnific-popup.min.js"></script>

	<!-- SENDMAIL -->
	<script src="/static/js/vendor/validator.min.js"></script>
	<script src="/static/js/vendor/form-scripts.js"></script>

	<script src="/static/js/script.js"></script>
</body>
</html>
