<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pets - HealingPaws</title>

	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/animate.min.css">

	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="../static/css/astyle.css" />

    <script src="/static/js/vendor/modernizr.min.js"></script>
      <style>
        body{
            /*background: url(../images/mainpage.jpg) no-repeat rgba(255,255,255,0.2);*/
            background-size: 110%;
            padding-top: 50px;
        }
        h1{
            color: black;
            padding: 20px 15px;
            text-align: center;
        }
    </style>

</head>

<body>

	<div class="animationload">
    <div class="loader"></div>
</div>
<a href="#" class="cd-top cd-is-visible cd-fade-out">Top</a>
<div class="header header-1">
    <div class="navbar-main">
        <div class="container">
            <nav id="navbar-example" class="navbar navbar-expand-sm bg-primary">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="{{ url_for('employee_main') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Home') }}</a>
                <a href="{{ url_for('announcement') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Announcements') }}</a>
                <a href="{{ url_for('employee_appointment') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Appointments') }}</a>
                <a href="{{ url_for('b_employee') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Manage Employees') }}</a>
                <a href="{{ url_for('employee_qa') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Questions') }}</a>


                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ _('boss') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ _('log out') }}</a>
                        </li>
                    </ul>

                </div>
            </nav> <!-- -->

        </div>
    </div>
</div>



	<!-- ABOUT -->
	<div class="section bgi-left bgi-hide-xs" >
		<div class="content-wrap">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-8 offset-md-4">

						<h2 class="section-heading text-primary no-after mb-4">
                            {{ _('Welcome to HealingPaws') }}

						</h2>
                        <br>
						<p class="subheading mb-4">{{ _('Your pets health and well-being are our top priority.') }}</p>

						<div class="row mt-5">
							<!-- Item 1 -->
							<div class="col-sm-6 col-md-6">
								<div class="rs-icon-info-3 mb-5">
									<div class="info-icon">
										<i class="fa fa-scissors"></i>
									</div>
									<div class="info-text">
										<h3 class="text-secondary">{{ _('Manage An Appointment') }}</h3>
										{{ _('Ability for employees to organize, prioritize and keep track of pets in the system') }}
									</div>
								</div>
							</div>
							<!-- Item 2 -->
							<div class="col-sm-6 col-md-6">
								<div class="rs-icon-info-3 mb-5">
									<div class="info-icon">
										<i class="fa fa-home"></i>
									</div>
									<div class="info-text">
										<h3 class="text-secondary">{{ _('Questiona And Answers') }}</h3>
										{{ _('Ability for customers to ask questions and for employees to answer them.') }}
									</div>
								</div>
							</div>

						</div>

					</div>

				</div>
			</div>
		</div>
	</div>




	<!-- JS VENDOR -->
	<script src="/static/js/vendor/jquery.min.js"></script>
	<script src="/static/js/vendor/bootstrap.min.js"></script>
	<script src="/static/js/vendor/owl.carousel.js"></script>
	<script src="/static/js/vendor/jquery.magnific-popup.min.js"></script>

	<!-- SENDMAIL -->
	<script src="/static/js/vendor/validator.min.js"></script>
	<script src="/static/js/vendor/form-scripts.js"></script>

	<script src="/static/js/script.js"></script>

</body>
</html>