<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Healing Paws</title>
    {#登录时的导航栏#}
    <!-- ==============================================
	CSS VENDOR
	=============================================== -->
    <link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/animate.min.css">

    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />

    <style>
        body{
            /*background: url(../images/mainpage.jpg) no-repeat rgba(255,255,255,0.2);*/
            background-size: 110%;
            padding-top: 50px;
        }
        h1{
            color: black;
            padding: 20px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<!-- LOAD PAGE -->
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- BACK TO TOP SECTION -->
<a href="#" class="cd-top cd-is-visible cd-fade-out">Top</a>
<div class="header header-1">
    <div class="navbar-main">
        <div class="container">
            <nav id="navbar-example" class="navbar navbar-expand-sm bg-primary">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Abou us') }}</a>
                <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Question') }}</a>
                <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Appointments') }}</a>
                <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Pet') }}</a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">user</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ _('log out') }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">English</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">中文</a>
                        </li>
                    </ul>

                </div>
            </nav> <!-- -->

        </div>
    </div>
</div>

<!-- JS VENDOR -->
<script src="static/js/vendor/jquery.min.js"></script>
<script src="static/js/vendor/bootstrap.min.js"></script>
<script src="static/js/vendor/owl.carousel.js"></script>
<script src="static/js/vendor/jquery.magnific-popup.min.js"></script>

<!-- SENDMAIL -->
<script src="static/js/vendor/validator.min.js"></script>
<script src="static/js/vendor/form-scripts.js"></script>

<script src="static/js/script.js"></script>

</body>
</html>