
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Healing Paws') }}</title>
    {#未登录时的导航栏#}
    <!-- ==============================================
	CSS VENDOR
	=============================================== -->
    <link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/owl.carousel.min.css">
{#    <link rel="stylesheet" type="text/css" href="../static/style/test.css">#}
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/animate.min.css">

    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="../static/css/astyle.css">
    <style>
        body{
            /*background: url(../images/mainpage.jpg) no-repeat rgba(255,255,255,0.2);*/
            background-size: 110%;
            {#padding-top: 50px;#}
        }
        h1{
            color: black;
            padding: 20px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<!-- LOAD PAGE -->
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- BACK TO TOP SECTION -->
<a href="#" class="cd-top cd-is-visible cd-fade-out">Top</a>
<div class="header header-1">
{#    <!-- MIDDLE BAR -->#}
{#		<div class="middlebar d-none d-sm-block">#}
{#			<div class="container">#}
{##}
{##}
{#				<div class="contact-info">#}
{#					<!-- INFO 1 -->#}
{#					<div class="box-icon-1">#}
{#						<div class="icon">#}
{#							<div class="fa fa-clock-o"></div>#}
{#						</div>#}
{#						<div class="body-content">#}
{#							<div class="heading">Open Hours :</div>#}
{#							Mon - Fri : 09:00 - 20:00#}
{#						</div>#}
{#					</div>#}
{#					<!-- INFO 2 -->#}
{#					<div class="box-icon-1">#}
{#						<div class="icon">#}
{#							<div class="fa fa-phone"></div>#}
{#						</div>#}
{#						<div class="body-content">#}
{#							<div class="heading">Call Today :</div>#}
{#							+62 7100 1234#}
{#						</div>#}
{#					</div>#}
{##}
{#				</div>#}
{#			</div>#}
{#		</div>#}
<div class="navbar-main">
    <div class="container">
        <nav id="navbar-example" class="navbar navbar-expand-sm bg-primary">

{#            <a class="navbar-brand" href="#">#}
{#                <img src="../static/images/logo.png" alt=""/>#}
{#            </a>#}
{#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
            <a href="{{ url_for('home') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Abou us') }}</a>
            <a href="{{ url_for('customer_question') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Question') }}</a>
            <a href="{{ url_for('customer_appointment') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Appointments') }}</a>
            <a href="{{ url_for('pet_page') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Pet') }}</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav navbar-right ml-auto">
                    <li class="nav-item dropdown dmenu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ _('Login') }}
                        </a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" href="{{ url_for('customer_login') }}">{{ _('customer') }}</a>
                            <a class="dropdown-item" href="{{ url_for('employee_login') }}">{{ _('employee') }}</a>
                            <!-- <a class="dropdown-item" data-toggle="modal" data-target="#alert">customer_login_window</a> -->

                        </div>
                    </li>
                    <li class="nav-item dropdown dmenu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ _('Register') }}
                        </a>
                        <div class="dropdown-menu">

                            <a class="dropdown-item" href="{{ url_for('customer_register') }}">{{ _('customer') }}</a>
                            <a class="dropdown-item" href="{{ url_for('employee_register') }}">{{ _('employee') }}</a>
                        </div>
                    </li>
                    <li class="nav-item">
{#                        <a class="nav-link" href="{{ url_for('set_locale', locale='en_US') }}">English</a>#}
                        <a class="nav-link" href="{{ url_for('set_locale', locale='en_US') }}">English</a>
{#                        <a class="nav-link" id="en">English</a>#}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('set_locale', locale='zh_Hans_CN') }}">中文</a>
{#                        <a class="nav-link" id="zh">中文</a>#}
                    </li>
                </ul>
    
            </div>
        </nav> <!-- -->
    
    </div>
</div>
</div>
{% for message in get_flashed_messages() %}
    <div class="alert-warning">{{ message }}</div>
{% endfor %}
{% block content %}{% endblock %}

<!-- BANNER -->
	<div id="oc-fullslider" class="banner owl-carousel">
        <div class="owl-slide">
        	<div class="item">
	            <img src="../static/images/mainpage.jpg" alt="Slider">
	            <div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
		                <h1 class="caption-heading">{{ _('We Provide The Best') }}<br>{{ _('Care For Your Pets') }}</h1>
		                <p class="">{{ _('The best pets clinic at melbourne, more than 20.000+ customers happy.') }}</p>
		                <a href="#" class="btn btn-primary">{{ _('More About Us') }}</a>
		            </div>
	            </div>
        	</div>
        </div>
        <div class="owl-slide">
        	<div class="item">
	            <img src="../static/images/mainpage2.jpg" alt="Slider">
	            <div class="container d-flex align-items-center">
	            	<div class="wrap-caption">
		                <h1 class="caption-heading">{{ _('Healing Paws') }}<br>{{ _('has three locations:') }}
		                {{ _('Beijing, Shanghai and Chengdu.') }}</h1>
		                <a href="{{ url_for('customer_register') }}" class="btn btn-primary">{{ _('Register now') }}</a>
		            </div>
	            </div>
        	</div>
        </div>
{#        <div class="owl-slide">#}
{#        	<div class="item">#}
{#	            <img src="images/home03.jpg" alt="Slider">#}
{#	            <div class="container d-flex align-items-center">#}
{#	            	<div class="wrap-caption">#}
{#		                <h1 class="caption-heading text-primary">We Provide The Best<br>Care For Your Pets</h1>#}
{#		                <p class="text-black">The best pets clinic at melbourne, more than 20.000+ customers happy.</p>#}
{#		                <a href="#" class="btn btn-primary">More About Us</a>#}
{#		            </div>#}
{#	            </div>#}
{#        	</div>#}
{#        </div>#}
    </div>

	<div class="clearfix"></div>

	<!-- ABOUT -->
	<div class="section bgi-left bgi-hide-xs" data-background="../static/images/about.jpg">
		<div class="content-wrap">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-8 offset-md-4">

						<h2 class="section-heading text-primary no-after mb-4">
							{{ _('Welcome to Healing Paws') }}
						</h2>
						<p class="subheading mb-4">{{ _('Your pet health and well-being are our top priority.') }}</p>

{#						<p>Quisque ut dolor gravida, placerat libero vel, euismod. Ut enim ad minim veniam, quis nostrud exercitation. Quam temere in vitiis, legem sancimus haerentia. Pellentesque habitant morbi tristique senectus et netus.</p>#}


						<div class="row mt-5">
							<!-- Item 1 -->
							<div class="col-sm-6 col-md-6">
								<div class="rs-icon-info-3 mb-5">
									<div class="info-icon">
										<i class="fa fa-scissors"></i>
									</div>
									<div class="info-text">
										<h3 class="text-secondary">{{ _('Pet surgery') }}</h3>
{#										Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do eiusmod.#}
									</div>
								</div>
							</div>
							<!-- Item 2 -->
							<div class="col-sm-6 col-md-6">
								<div class="rs-icon-info-3 mb-5">
									<div class="info-icon">
										<i class="fa fa-home"></i>
									</div>
									<div class="info-text">
										<h3 class="text-secondary">{{ _('Pet Hotel') }}</h3>
{#										Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do eiusmod.#}
									</div>
								</div>
							</div>
							<!-- Item 3 -->
							<div class="col-sm-6 col-md-6">
								<div class="rs-icon-info-3 mb-5">
									<div class="info-icon">
										<i class="fa fa-shield"></i>
									</div>
									<div class="info-text">
										<h3 class="text-secondary">{{ _('Vaccination') }}</h3>
{#										Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do eiusmod.#}
									</div>
								</div>
							</div>
							<!-- Item 4 -->
							<div class="col-sm-6 col-md-6">
								<div class="rs-icon-info-3 mb-5">
									<div class="info-icon">
										<i class="fa fa-medkit"></i>
									</div>
									<div class="info-text">
										<h3 class="text-secondary">{{ _('Pet Care') }}</h3>
{#										Dolor sit amet, dolor gravida, placerat liberolorem ipsum dolor consectetur adipiscing elit, sed do eiusmod.#}
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>
{##}
{#	<!-- FUN FACT -->#}
{#	<div class="bgi-cover-center" data-background="images/statistic_bg.jpg">#}
{#		<div class="content-wrap">#}
{#			<div class="container">#}
{##}
{#				<div class="row">#}
{##}
{#					<!-- Item 1 -->#}
{#					<div class="col-12 col-sm-6 col-md-3">#}
{#						<div class="rs-icon-funfact style-2 text-white">#}
{#							<div class="icon">#}
{#								<i class="fa fa-smile-o"></i>#}
{#							</div>#}
{#							<div class="body-content">#}
{#								<h2>2700</h2>#}
{#								<p class="uk16 text-primary">Happy Customers</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<!-- Item 2 -->#}
{#					<div class="col-12 col-sm-6 col-md-3">#}
{#						<div class="rs-icon-funfact style-2 text-white">#}
{#							<div class="icon">#}
{#								<i class="fa fa-github"></i>#}
{#							</div>#}
{#							<div class="body-content">#}
{#								<h2>4520</h2>#}
{#								<p class="uk16 text-primary">Pets Cure</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<!-- Item 3 -->#}
{#					<div class="col-12 col-sm-6 col-md-3">#}
{#						<div class="rs-icon-funfact style-2 text-white">#}
{#							<div class="icon">#}
{#								<i class="fa fa-stethoscope"></i>#}
{#							</div>#}
{#							<div class="body-content">#}
{#								<h2>15</h2>#}
{#								<p class="uk16 text-primary">Team Doctor</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<!-- Item 4 -->#}
{#					<div class="col-12 col-sm-6 col-md-3">#}
{#						<div class="rs-icon-funfact style-2 text-white">#}
{#							<div class="icon">#}
{#								<i class="fa fa-trophy"></i>#}
{#							</div>#}
{#							<div class="body-content">#}
{#								<h2>21</h2>#}
{#								<p class="uk16 text-primary">Awards Winner</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<!-- OUR SERVICES -->#}
{#	<div class="">#}
{#		<div class="content-wrap">#}
{#			<div class="container">#}
{##}
{#				<div class="row">#}
{#					<div class="col-sm-12 col-md-12">#}
{#						<h2 class="section-heading text-center text-primary no-after mb-5">#}
{#							Our Services#}
{#						</h2>#}
{#						<p class="subheading text-center">Your pet's health and well-being are our top priority.</p>#}
{#					</div>#}
{#				</div>#}
{##}
{#				<div class="row mt-4">#}
{##}
{#					<!-- Item 1 -->#}
{#					<div class="col-12 col-sm-6 col-md-4">#}
{#						<div class="rs-image-box">#}
{#							<div class="media">#}
{#								<a href="services-single.html"><img src="images/services01.jpg" alt="" class="img-fluid"></a>#}
{#							</div>#}
{#							<div class="body-text">#}
{#								<h3 class="title"><a href="services-single.html">Pet Barber Services</a></h3>#}
{#								Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<!-- Item 2 -->#}
{#					<div class="col-12 col-sm-6 col-md-4">#}
{#						<div class="rs-image-box">#}
{#							<div class="media">#}
{#								<a href="services-single.html"><img src="images/services02.jpg" alt="" class="img-fluid"></a>#}
{#							</div>#}
{#							<div class="body-text">#}
{#								<h3 class="title"><a href="services-single.html">Vaccination Supply</a></h3>#}
{#								Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<!-- Item 3 -->#}
{#					<div class="col-12 col-sm-6 col-md-4">#}
{#						<div class="rs-image-box">#}
{#							<div class="media">#}
{#								<a href="services-single.html"><img src="images/services03.jpg" alt="" class="img-fluid"></a>#}
{#							</div>#}
{#							<div class="body-text">#}
{#								<h3 class="title"><a href="services-single.html">Pet Analysist</a></h3>#}
{#								Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#				</div>#}
{##}
{#				<div class="row">#}
{#					<div class="col-sm-12 col-md-12 text-center">#}
{#						<a href="#" class="btn btn-secondary mt-5">Check More</a>#}
{#					</div>#}
{#				</div>#}
{##}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<!-- DO PETS -->#}
{#	<div class="section bgi-cover-center" data-background="images/home02.jpg">#}
{#		<div class="content-wrap">#}
{#			<div class="container">#}
{##}
{#				<div class="row">#}
{#					<div class="col-sm-6 col-md-6">#}
{#						<div class="wrap-form">#}
{#							<h2 class="text-primary mb-2">#}
{#								Do Pets Have Allergies?#}
{#							</h2>#}
{#							<p class="uk21 text-white">We are pets clinic dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>#}
{##}
{#							<p class="text-white">Quisque ut dolor gravida, placerat libero vel, euismod. Ut enim ad minim veniam, quis nostrud exercitation. Quam temere in vitiis, legem sancimus haerentia. Pellentesque habitant morbi tristique senectus et netus.</p>#}
{#							<div class="spacer-30"></div>#}
{#							<a href="#" class="btn btn-primary">Learn More</a>#}
{#							<div class="spacer-30"></div>#}
{#							<div class="row">#}
{#								<div class="col-sm-8 col-md-8">#}
{#									<div class="img-video">#}
{#										<a href="https://www.youtube.com/watch?v=vNDrLjOmUY4" class="popup-youtube play-video"><i class="fa fa-play fa-2x"></i></a>#}
{#										<img src="images/home01.jpg" alt="" class="shadow img-fluid">#}
{#										<div class="ripple"></div>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<!-- MEET VETERINARY -->#}
{#	<div class="">#}
{#		<div class="content-wrap">#}
{#			<div class="container">#}
{##}
{#				<div class="row">#}
{#					<div class="col-sm-12 col-md-12">#}
{#						<h2 class="section-heading text-center text-primary no-after mb-5">#}
{#							Meet Veterinary#}
{#						</h2>#}
{#						<p class="subheading text-center">Your pet's health and well-being are our top priority.</p>#}
{#					</div>#}
{#				</div>#}
{##}
{#				<div class="row mt-4">#}
{##}
{#					<!-- Item 1 -->#}
{#					<div class="col-12 col-sm-6 col-md-4">#}
{#						<div class="rs-team-1">#}
{#							<div class="media">#}
{#								<img src="images/vet05.jpg" alt="" class="img-fluid">#}
{#								<div class="sosmed-icon">#}
{#									<a href="#"><i class="fa fa-facebook"></i></a>#}
{#									<a href="#"><i class="fa fa-twitter"></i></a>#}
{#									<a href="#"><i class="fa fa-google-plus"></i></a>#}
{#								</div>#}
{#							</div>#}
{#							<div class="body">#}
{#								<div class="title">Dr. John Doel</div>#}
{#								<div class="text-primary">Veterinary</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<!-- Item 2 -->#}
{#					<div class="col-12 col-sm-6 col-md-4">#}
{#						<div class="rs-team-1">#}
{#							<div class="media">#}
{#								<img src="images/vet06.jpg" alt="" class="img-fluid">#}
{#								<div class="sosmed-icon">#}
{#									<a href="#"><i class="fa fa-facebook"></i></a>#}
{#									<a href="#"><i class="fa fa-twitter"></i></a>#}
{#									<a href="#"><i class="fa fa-google-plus"></i></a>#}
{#								</div>#}
{#							</div>#}
{#							<div class="body">#}
{#								<div class="title">Dr. Mellisa Doel</div>#}
{#								<div class="text-primary">Veterinary</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<!-- Item 3 -->#}
{#					<div class="col-12 col-sm-6 col-md-4">#}
{#						<div class="rs-team-1">#}
{#							<div class="media">#}
{#								<img src="images/vet07.jpg" alt="" class="img-fluid">#}
{#								<div class="sosmed-icon">#}
{#									<a href="#"><i class="fa fa-facebook"></i></a>#}
{#									<a href="#"><i class="fa fa-twitter"></i></a>#}
{#									<a href="#"><i class="fa fa-google-plus"></i></a>#}
{#								</div>#}
{#							</div>#}
{#							<div class="body">#}
{#								<div class="title">Dr. Aldizza Doel</div>#}
{#								<div class="text-primary">Veterinary</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#				</div>#}
{##}
{#				<div class="row">#}
{#					<div class="col-sm-12 col-md-12 text-center">#}
{#						<a href="#" class="btn btn-secondary mt-5">Check More</a>#}
{#					</div>#}
{#				</div>#}
{##}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<!-- HAPPY CLIENTS -->#}
{#	<div class="section bgi-cover-center" data-background="images/testimonials_bg.jpg">#}
{#		<div class="content-wrap">#}
{#			<div class="container">#}
{#				<div class="row">#}
{##}
{#					<div class="col-sm-12 col-md-12">#}
{#						<h2 class="section-heading text-center text-primary mb-4">#}
{#							What Customer's Say#}
{#						</h2>#}
{#						<p class="subheading text-center">Your pet's health and well-being are our top priority.</p>#}
{#					</div>#}
{##}
{#				</div>#}
{#				<div class="row">#}
{#					<div class="col-sm-12 col-md-10 offset-md-1">#}
{#						<div id="testimonial">#}
{#							<!-- Item 1 -->#}
{#							<div class="item">#}
{#								<div class="rs-box-testimony">#}
{#									<div class="quote-box">#}
{#										<div class="media">#}
{#											<img src="images/team-1.jpg" alt="" class="rounded-circle">#}
{#										</div>#}
{#										<blockquote class="text-black">#}
{#										 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam#}
{#										</blockquote>#}
{#										<p class="quote-name">#}
{#											Johnathan Doel <span>Businessman</span>#}
{#										</p>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#							<!-- Item 2 -->#}
{#							<div class="item">#}
{#								<div class="rs-box-testimony">#}
{#									<div class="quote-box">#}
{#										<div class="media">#}
{#											<img src="images/team-2.jpg" alt="" class="rounded-circle">#}
{#										</div>#}
{#										<blockquote class="text-black">#}
{#										 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam#}
{#										</blockquote>#}
{#										<p class="quote-name">#}
{#											Johnathan Doel <span>CEO Buka Kreasi</span>#}
{#										</p>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#							<!-- Item 3 -->#}
{#							<div class="item">#}
{#								<div class="rs-box-testimony">#}
{#									<div class="quote-box">#}
{#										<div class="media">#}
{#											<img src="images/team-3.jpg" alt="" class="rounded-circle">#}
{#										</div>#}
{#										<blockquote class="text-black">#}
{#										 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam#}
{#										</blockquote>#}
{#										<p class="quote-name">#}
{#											Johnathan Doel <span>Businessman</span>#}
{#										</p>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#							<!-- Item 4 -->#}
{#							<div class="item">#}
{#								<div class="rs-box-testimony">#}
{#									<div class="quote-box">#}
{#										<div class="media">#}
{#											<img src="images/team-4.jpg" alt="" class="rounded-circle">#}
{#										</div>#}
{#										<blockquote class="text-black">#}
{#										 Teritatis et quasi architecto. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore mque laudantium, totam rem aperiam#}
{#										</blockquote>#}
{#										<p class="quote-name">#}
{#											Johnathan Doel <span>CEO Buka Kreasi</span>#}
{#										</p>#}
{#									</div>#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<!-- OUR ARTICLES -->#}
{#	<div class="">#}
{#		<div class="content-wrap">#}
{#			<div class="container">#}
{##}
{#				<div class="row">#}
{#					<div class="col-sm-12 col-md-12">#}
{#						<h2 class="section-heading text-center text-primary no-after mb-5">#}
{#							From Our Articles#}
{#						</h2>#}
{#						<p class="subheading text-center">Your pet's health and well-being are our top priority.</p>#}
{#					</div>#}
{#				</div>#}
{##}
{#				<div class="row mt-4">#}
{##}
{#					<!-- Item 1 -->#}
{#					<div class="col-12 col-sm-6 col-md-4">#}
{#						<div class="rs-news-1 mb-5">#}
{#							<div class="media">#}
{#								<a href="blog-single.html">#}
{#									<img src="images/blog-img-1.jpg" alt="" class="img-fluid">#}
{#								</a>#}
{#							</div>#}
{#							<div class="body">#}
{#								<div class="title"><a href="blog-single.html">Dog sitting on the floor</a></div>#}
{#								<div class="meta-date">May 12, 2017</div>#}
{#								<p>Dignissimos ccusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores....</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<!-- Item 2 -->#}
{#					<div class="col-12 col-sm-6 col-md-4">#}
{#						<div class="rs-news-1 mb-5">#}
{#							<div class="media">#}
{#								<a href="blog-single.html">#}
{#									<img src="images/blog-img-2.jpg" alt="" class="img-fluid">#}
{#								</a>#}
{#							</div>#}
{#							<div class="body">#}
{#								<div class="title"><a href="blog-single.html">Persian Cat with new</a></div>#}
{#								<div class="meta-date">May 12, 2017</div>#}
{#								<p>Dignissimos ccusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores....</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<!-- Item 3 -->#}
{#					<div class="col-12 col-sm-6 col-md-4">#}
{#						<div class="rs-news-1 mb-5">#}
{#							<div class="media">#}
{#								<a href="blog-single.html">#}
{#									<img src="images/blog-img-3.jpg" alt="" class="img-fluid">#}
{#								</a>#}
{#							</div>#}
{#							<div class="body">#}
{#								<div class="title"><a href="blog-single.html">Make pet comportable</a></div>#}
{#								<div class="meta-date">May 12, 2017</div>#}
{#								<p>Dignissimos ccusamus et iusto odio ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores....</p>#}
{#							</div>#}
{#						</div>#}
{#					</div>#}
{##}
{#				</div>#}
{##}
{#				<div class="spacer-50"></div>#}
{##}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<!-- CTA -->#}
{#	<div class="section bgi-cover-center" data-background="images/pattern_bg.jpg">#}
{#		<div class="content-wrap py-0">#}
{#			<div class="container">#}
{#				<div class="row align-items-center">#}
{#					<div class="col-sm-6 col-md-6">#}
{#						<div class="img-cta">#}
{#							<img src="images/product_promo.png" alt="" class="img-fluid">#}
{#						</div>#}
{#					</div>#}
{#					<div class="col-sm-6 col-md-6">#}
{#						<div class="text-white mt-5">#}
{#							<h1 class="section-heading no-after text-white">#}
{#								SPECIAL OFFER THIS WEEK!#}
{#							</h1>#}
{#							<p class="uk21 text-white mb-4">Get Discount 10% Off Pet Food.</p>#}
{#							<p class="mb-5">Sed orci dolor, pulvinar nec luctus a, malesuada ac nisl. Aliquam eleifend et dui et suscipit. Nam semper accumsan ante, ac dapibus urna dapibus et.</p>#}
{##}
{#						</div>#}
{#						<a href="#" class="btn btn-light">Shop Now</a>#}
{#						<div class="spacer-50"></div>#}
{#					</div>#}
{##}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<div class="spacer-90"></div>#}
{##}
{#	<!-- AWARDS -->#}
{#	<div class="section">#}
{#		<div class="content-wrap content-wrap-40">#}
{#			<div class="container">#}
{#				<div class="row">#}
{#					<div class="col-sm-12 col-md-12">#}
{#						<h2 class="section-heading text-center text-primary no-after mb-5">#}
{#							Our Awards#}
{#						</h2>#}
{#						<p class="subheading text-center">Your pet's health and well-being are our top priority.</p>#}
{#					</div>#}
{#				</div>#}
{#				<div class="row">#}
{#					<div class="col-6 col-sm-4 col-md-2">#}
{#						<div class="client-img">#}
{#							<a href="#">#}
{#								<img src="images/client1.png" alt="" class="img-fluid">#}
{#							</a>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-sm-4 col-md-2">#}
{#						<div class="client-img">#}
{#							<a href="#"><img src="images/client2.png" alt="" class="img-fluid"></a>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-sm-4 col-md-2">#}
{#						<div class="client-img">#}
{#							<a href="#"><img src="images/client3.png" alt="" class="img-fluid"></a>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-sm-4 col-md-2">#}
{#						<div class="client-img">#}
{#							<a href="#"><img src="images/client4.png" alt="" class="img-fluid"></a>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-sm-4 col-md-2">#}
{#						<div class="client-img">#}
{#							<a href="#"><img src="images/client5.png" alt="" class="img-fluid"></a>#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-6 col-sm-4 col-md-2">#}
{#						<div class="client-img">#}
{#							<a href="#"><img src="images/client6.png" alt="" class="img-fluid"></a>#}
{#						</div>#}
{#					</div>#}
{##}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<!-- CTA -->#}
{#	<div class="section cta bgi-cover-center" data-background="images/pattern_bg.jpg">#}
{#		<div class="content-wrap py-5">#}
{#			<div class="container">#}
{#				<div class="row align-items-center">#}
{#					<div class="col-sm-12 col-md-12">#}
{#						<div class="cta-1">#}
{#			              	<div class="body-text text-white mb-3">#}
{#			                	<h3 class="my-1">Get 30% off for the First Time Appointment!</h3>#}
{#			                	<p class="uk18 mb-0">Contact us now and make an appointment today</p>#}
{#			              	</div>#}
{#			              	<div class="body-action">#}
{#			                	<a href="#" class="btn btn-secondary">Appointment Now!</a>#}
{#			              	</div>#}
{#			            </div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{##}
{#	<!-- FOOTER SECTION -->#}
{#	<div class="footer bg-overlay-secondary" data-background="images/statistic_bg.jpg">#}
{#		<div class="content-wrap">#}
{#			<div class="container">#}
{##}
{#				<div class="row">#}
{#					<div class="col-sm-6 col-md-4">#}
{#						<div class="footer-item">#}
{#							<img src="images/logo_w.png" alt="logo bottom" class="logo-bottom">#}
{#							<div class="spacer-20"></div>#}
{#							<p>We are pets center at vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque.</p>#}
{#							<div class="spacer-20"></div>#}
{#							<img src="images/payment.png" alt="">#}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-sm-6 col-md-4">#}
{#						<div class="footer-item">#}
{#							<div class="footer-title">#}
{#								Opening Hours#}
{#							</div>#}
{#							<p>Our support available to help you 24 hours a day. We provide our best.</p>#}
{#							<ul class="list">#}
{#								<li>#}
{#									Mon - Fri : 08.00 am - 20.00 pm#}
{#								</li>#}
{#								<li>#}
{#									Saturday : 09.00 am - 20.00 pm#}
{#								</li>#}
{#								<li>#}
{#									Sunday :  We Are Closed#}
{#								</li>#}
{#							</ul>#}
{##}
{#						</div>#}
{#					</div>#}
{##}
{#					<div class="col-sm-6 col-md-4">#}
{#						<div class="footer-item">#}
{#							<div class="footer-title">#}
{#								Contact Info#}
{#							</div>#}
{#							<p>Lit sed The Best in dolor sit amet consectetur</p>#}
{#							<ul class="list-info">#}
{#								<li>#}
{#									<div class="info-icon text-primary">#}
{#										<span class="fa fa-map-marker"></span>#}
{#									</div>#}
{#									<div class="info-text">99 S.t Jomblo Park Pekanbaru 28292. Indonesia</div>#}
{#								</li>#}
{#								<li>#}
{#									<div class="info-icon text-primary">#}
{#										<span class="fa fa-phone"></span>#}
{#									</div>#}
{#									<div class="info-text">(0761) 654-123987</div>#}
{#								</li>#}
{#								<li>#}
{#									<div class="info-icon text-primary">#}
{#										<span class="fa fa-envelope"></span>#}
{#									</div>#}
{#									<div class="info-text">mail@hellopets.com</div>#}
{#								</li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{##}
{#		<div class="fcopy">#}
{#			<div class="container">#}
{#				<div class="row">#}
{#					<div class="col-sm-6 col-md-6">#}
{#						<p class="ftex">&copy; 2019 Your Company. All Rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>. Designed By <span class="text-primary">Rometheme</span></p>#}
{#					</div>#}
{#					<div class="col-sm-6 col-md-6">#}
{#						<div class="sosmed-icon d-inline-flex float-right">#}
{#							<a href="#"><i class="fa fa-facebook"></i></a>#}
{#							<a href="#"><i class="fa fa-twitter"></i></a>#}
{#							<a href="#"><i class="fa fa-instagram"></i></a>#}
{#							<a href="#"><i class="fa fa-pinterest"></i></a>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}

{#	</div>#}


<!-- JS VENDOR -->
<script src="../static/js/vendor/jquery.min.js"></script>
<script src="../static/js/vendor/bootstrap.min.js"></script>
<script src="../static/js/vendor/owl.carousel.js"></script>
<script src="../static/js/vendor/jquery.magnific-popup.min.js"></script>

<!-- SENDMAIL -->
<script src="../static/js/vendor/validator.min.js"></script>
<script src="../static/js/vendor/form-scripts.js"></script>

<script src="../static/js/script.js"></script>

</body>

</html>
