<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pets</title>
{#需要显示的数据：宠物名字，类型，性别#}
{#需要上传的数据：宠物类型，性别，名字，生日#}
{#操作：modify：修改 delete：删除 add：添加#}
    <<!-- ==============================================
	CSS VENDOR
	=============================================== -->
    <link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="static/css/vendor/animate.min.css">

    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <style>
        body{
            /*background: url(../images/mainpage.jpg) no-repeat rgba(255,255,255,0.2);*/
            background-size: 110%;
            padding-top: 50px;
        }
        h1{
            color: black;
            padding: 20px 15px;
            text-align: center;
        }
    </style>
</head>
<body>
<!-- LOAD PAGE -->
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- BACK TO TOP SECTION -->
<a href="#" class="cd-top cd-is-visible cd-fade-out">Top</a>
<div class="header header-1">
    <div class="navbar-main">
        <div class="container">
            <nav id="navbar-example" class="navbar navbar-expand-lg bg-primary">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="customer-mainpage.html" class="btn btn-secondary btn-nav btn-rect ml-auto">About us</a>
                <a href="customer-question.html" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">Questions</a>
                <a href="customer-appointment.html" class="btn btn-secondary btn-nav btn-rect ml-auto">Appointments</a>
                <a href="customer-pet.html" class="btn btn-secondary btn-nav btn-rect ml-auto">Pets</a>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">user</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">log out</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">English</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">中文</a>
                        </li>
                    </ul>

                </div>
            </nav> <!-- -->

        </div>
    </div>
</div>
    <div class="offset-sm-2 col-sm-8">
        <h1>My Pets</h1>
        <div class="table-responsive col-sm-offset-2 col-sm-12" >
            <table class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center col-sm-2">Pet name</th>
                    <th class="text-center col-sm-2">Pet type</th>
                    <th class="text-center col-sm-2">Pet Gender</th>
                    <th class="text-center col-sm-6">Operation</th>
                </tr>
                </thead>
                <tbody>
                <tr>

                    <td class="text-center">cat</td>
                    <td class="text-center">cat</td>
                    <td class="text-center">male</td>
                    <td>
                        <a href="#"><button type="button" class="btn btn-success offset-1" data-toggle="modal" data-target="#Petinfo">Modify</button></a>
                        <a href="#"><button type="button" class="btn btn-danger offset-1" data-toggle="modal" data-target="#alert">Delete</button></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button type="button" class="btn btn-primary offset-sm-10" data-toggle="modal" data-target="#Petinfo">Add a pet</button>
    </div>
            <div class="modal fade" id="Petinfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title ">
                                Pet information
                            </h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
<!--                                <div>-->
<!--                                    <label class="col-sm-3">type</label>-->

<!--                                    <label class="radio-inline">-->
<!--                                        <input type="radio" name="type" id="optionsRadios1" value="option1" checked>standard-->
<!--                                    </label>-->
<!--                                    <label class="radio-inline">-->
<!--                                        <input type="radio" name="type" id="optionsRadios2"  value="option2">emergency-->
<!--                                    </label>-->
<!--                                </div>-->
                                <div style="padding-top: 20px">
                                    <!--                            <label class="col-sm-3" for="inputfile">Upload a photo</label><input type="file" id="inputfile">-->
                                    <label class="col-sm-3">Pet kind</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="petkind" id="optionsRadios3" value="option1" checked>cat
                                    </label>
                                    <label class="radio-inline" style="margin-left: 20px">
                                        <input type="radio" name="petkind" id="optionsRadios4"  value="option2">dog
                                    </label>
                                </div>
                                <div style="padding-top: 20px">
                                    <label class="col-sm-3">Pet gender</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="petgender" id="optionsRadios5" value="option1" checked>male
                                    </label>
                                    <label class="radio-inline" style="margin-left: 20px">
                                        <input type="radio" name="petgender" id="optionsRadios6"  value="option2">female
                                    </label>
                                </div>
                                <div class="form-group" style="padding-top: 20px">
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="form-group" style="padding-top: 20px">
                                    <label class="col-sm-3">Birthday</label>
                                    <input type="date" class="form-control" placeholder="Date">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Close
                            </button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                Confirm
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
<div class="modal fade" id="alert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Warning</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure to delete？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>
<!-- JS VENDOR -->
<script src="static/js/vendor/jquery.min.js"></script>
<script src="static/js/vendor/bootstrap.min.js"></script>
<script src="static/js/vendor/owl.carousel.js"></script>
<script src="static/js/vendor/jquery.magnific-popup.min.js"></script>

<!-- SENDMAIL -->
<script src="static/js/vendor/validator.min.js"></script>
<script src="static/js/vendor/form-scripts.js"></script>

<script src="static/js/script.js"></script>

</body>
</html>