<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ _('Sign up') }}</title>
    <!-- ==============================================
	CSS VENDOR
	=============================================== -->
    <link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="../static/css/vendor/animate.min.css">
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.mockjax.js"></script>
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <!-- ==============================================
    Custom Stylesheet
    =============================================== -->
    <link rel="stylesheet" type="text/css" href="../static/css/astyle.css" />
    <style>
        body{
            /*background: url(../images/mainpage.jpg) no-repeat rgba(255,255,255,0.2);*/
            background-size: 110%;
            {#padding-top: 70px;#}
        }
        h1{
            color: black;
            padding: 20px 15px;
            text-align: center;
        }
        form{
            padding-top: 50px;
        }
        .error {
            color: red;
        }
        #slider {
            width: 300px;
            height: 40px;
            position: relative;
            border-radius: 20px;
            background-color: #dae2d0;
            overflow: hidden;
            text-align: center;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
        }

        #slider_bg {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background-color: #7AC23C;
            z-index: 1;
        }
    
        #label {
            width: 46px;
            position: absolute;
            left: 0;
            top: 0;
            height: 40px;
            line-height: 38px;
            border: 1px solid #cccccc;
            background: #fff;
            z-index: 3;
            cursor: move;
            color: #ff9e77;
            font-size: 16px;
            font-weight: 900;
        }
    
        #labelTip {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 13px;
            font-family: 'Microsoft Yahei', serif;
            color: #787878;
            line-height: 38px;
            text-align: center;
            z-index: 2;
    
        }
    </style>
<!--    <link rel="stylesheet" type="text/css" href="style/register.css" />-->
    <script>
        jQuery.validator.addMethod("isPhone", function(value, element) {
            var length = value.length;
            var mobile = /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1})|(17[0-9]{1}))+\d{8})$/;
            return this.optional(element) || (length === 11 && mobile.test(value));
        }, "Please fill in the correct mobile phone number");

        $().ready(function() {

            $("#login_form").validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 2
                    },
                    realname: {
                        required: true,
                        minlength: 2
                    },
                    password1: {
                        required: true,
                        minlength: 6
                    },
                    password2: {
                        required: true,
                        minlength: 6,
                        equalTo: "#password1"
                    },
                    phonenumber: {
                        required: true,
                        isPhone: true
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    question: {
                        required: true,
                    }
                },
                messages: {
                    username: {
                        required: {{ _('"Please enter a username"') }},
                        minlength: {{ _('"The user name must consist of at least two letters"') }}
                    },
                    realname: {
                        required: {{ _('"Please enter a name"') }},
                        minlength: {{ _('"The name must consist of at least two letters"') }}
                    },
                    password1: {
                        required: {{ _('"Please enter your password"') }},
                        minlength: {{ _('"Password length must not be less than 6 letters"') }}
                    },
                    password2: {
                        required: {{ _('"Please enter your password"') }},
                        minlength: {{ _('"Password length must not be less than 6 letters"') }},
                        equalTo: {{ _('"The two passwords do not match"') }}
                    },
                    phonenumber: {
                        required: {{ _('"Please enter a phone number"') }}
                    },
                    email: {
                        required: {{ _('"Please enter a email address"') }},
                        email: {{ _('"Please enter a correct email address"') }}
                    },
                    question: {{ _('"Please enter an animal"') }}
                }
            });
        });
    </script>
</head>
<body>
<!-- LOAD PAGE -->
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- BACK TO TOP SECTION -->
<a href="#" class="cd-top cd-is-visible cd-fade-out">Top</a>
<div class="header header-1">
<div class="navbar-main">
    <div class="container">
        <nav id="navbar-example" class="navbar navbar-expand-sm bg-primary">
{#            <a class="navbar-brand" href="index.html">#}
{#                <img src="images/logo.png" alt="" />#}
{#            </a>#}
{#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
            <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Abou us') }}</a>
            <a href="{{ url_for('customer_question') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Question') }}</a>
            <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Appointments') }}</a>
            <a href="#" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Pet') }}</a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav navbar-right ml-auto">
                    <li class="nav-item dropdown dmenu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ _('Login') }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('customer_login') }}">{{ _('customer') }}</a>
                            <a class="dropdown-item" href="{{ url_for('employee_login') }}">{{ _('employee') }}</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown dmenu">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ _('Register') }}
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ url_for('customer_register') }}">{{ _('customer') }}</a>
                            <a class="dropdown-item" href="{{ url_for('employee_register') }}">{{ _('employee') }}</a>
                        </div>
                    </li>
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ url_for('set_locale', locale='en_US') }}">English</a>#}
{#                        <a class="nav-link" href="{{ url_for('set_locale', locale='en_US') }}">English</a>#}
{#                        <a class="nav-link" id="en">English</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="{{ url_for('set_locale', locale='zh_Hans_CN') }}">中文</a>#}
{#                        <a class="nav-link" id="zh">中文</a>#}
{#                    </li>#}
                </ul>
            </div>
        </nav> <!-- -->
    </div>
</div>
</div>
{% for message in get_flashed_messages() %}
    <div class="alert-warning">{{ message }}</div>
{% endfor %}
{% block content %}{% endblock %}
<div class="container">
    <div class="panel offset-sm-3 col-sm-6">
        <form class="cmxform" id="login_form" method="post">
            <h3 class="form-title  offset-sm-3">{{ _('Create your account') }}</h3>
            <div class="col-sm-8 offset-sm-2">
                <div class="form-group">

                    <input class="form-control required" type="text" placeholder="{{ _('Username') }}" name="username" id="username" autofocus="autofocus" maxlength="11"/>
                </div>
                <div class="form-group">
    
                    <input class="form-control required" type="text" placeholder="{{ _('Realname') }}" name="realname" id="realname" autofocus="autofocus" maxlength="11"/>
                </div>
                <div class="form-group">
    
                    <input class="form-control required" type="password" placeholder="{{ _('Password') }}" name="password1" id="password1" maxlength="8"/>
                </div>
                <div class="form-group">
    
                    <input class="form-control required" type="password" placeholder="{{ _('Confirm password') }}" name="password2" id="password2" maxlength="8"/>
                </div>
                <div class="form-group">
    
                    <input class="form-control required" placeholder="{{ _('Phonenumber') }}" name="phonenumber" id="phonenumber" maxlength="11"/>
                </div>
                <div class="form-group">
    
                    <input class="form-control required" type="email" placeholder="{{ _('Email') }}" name="email" id="email" maxlength="20"/>
                </div>
                <div class="form-group">
    
                    <input class="form-control required" type="text" placeholder="{{ _('What is your favorite pet') }}" name="question" id="question" maxlength="20"/>
                </div>
                <div id="demo">
                    <div id="slider">
                        <div id="slider_bg"></div>
                        <span id="label">>></span> <span id="labelTip">{{ _('Drag the slider to verify') }}</span>
                    </div>
                </div>
                <div class="form-group" style="padding-top: 20px">
                    <a href="{{ url_for('customer_login') }}" id="register_btn" class="">{{ _('Already have an account') }}</a>
                </div>
                <div class="form-group">
                    <!--                    <input type="submit" class="btn btn-success pull-right" value="Sign in"/>-->
                    <button class="btn btn-success btn-success pull-right" type="submit" value="Sign in">{{ _('Sign in') }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
{#<!-- JS VENDOR -->#}
{#<script src="static/js/vendor/jquery.min.js"></script>#}
{#<script src="static/js/vendor/bootstrap.min.js"></script>#}
{#<script src="static/js/vendor/owl.carousel.js"></script>#}
{#<script src="static/js/vendor/jquery.magnific-popup.min.js"></script>#}
{##}
{#<!-- SENDMAIL -->#}
{#<script src="static/js/vendor/validator.min.js"></script>#}
{#<script src="static/js/vendor/form-scripts.js"></script>#}
{##}
{#<script src="static/js/script.js"></script>#}
<script type="text/javascript" src="../static/js/jquery.slideunlock.js"></script>
<script>
    // $(function () {
    //     var slider = new SliderUnlock("#slider",{
    //         successLabelTip : "Successful validation"
    //     });
    //     slider.init();
    // })
    $(function () {
        var slider = new SliderUnlock("#slider",{
            successLabelTip : {{ _('"Successful validation"') }}
        },function(){

        });
        slider.init();
    })
</script>


</body>
</html>