<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>appointment</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css"/>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootbox.min.js') }}"></script>

	<!-- ==============================================
	CSS VENDOR
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/animate.min.css">

	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="../static/css/astyle.css" />
    <style>
        body{
            /*background: url(../images/mainpage.jpg) no-repeat rgba(255,255,255,0.2);*/
            background-size: 110%;
            padding-top: 50px;
        }
        h1{
            color: black;
            padding: 20px 15px;
            text-align: center;
        }
    </style>


</head>
<body>
<!-- LOAD PAGE -->
 <div class="animationload">
    <div class="loader"></div>
</div>
<a href="#" class="cd-top cd-is-visible cd-fade-out">Top</a>
<div class="header header-1">
    <div class="navbar-main">
        <div class="container">
            <nav id="navbar-example" class="navbar navbar-expand-sm bg-primary">
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo.png" alt="" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a href="{{ url_for('employee_main') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Home') }}</a>
                <a href="{{ url_for('announcement') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Announcements') }}</a>
                <a href="{{ url_for('employee_appointment') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">{{ _('Appointments') }}</a>
                <a href="{{ url_for('b_employee') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Manage Employees') }}</a>
                <a href="{{ url_for('employee_qa') }}" class="btn btn-secondary btn-nav btn-rect ml-auto" style="margin-left: 20px">{{ _('Questions') }}</a>


                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav navbar-right ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ username }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">{{ _('log out') }}</a>
                        </li>
                    </ul>

                </div>
            </nav> <!-- -->

        </div>
    </div>
</div>

<div class="box">
    <div class="title">{{ _('appointment') }}</div>
    <div class="content" >

        <div class="container content_width">
            <div class="person_search">
                <div class="search_input">


                    <div class="input-group mb-3">
                        <span>{{ _('City:') }}</span>
                        <input id="Ktext" type="text" oninput="refresh_list(this.value)" class="form-control" placeholder="{{ _('please enter your location') }}">
                    </div>
                    <script>
                        var alllist
                        function refresh_list(value){
                            alllist=document.querySelectorAll('.testrow')
                            if(typeof value == "string"){
                                for(var i=0;i<alllist.length;i++){
                                    tc=alllist[i].querySelector('.ena')
                                    if(tc.textContent.includes(value)){
                                        alllist[i].removeAttribute('hidden')
                                    }else{
                                        alllist[i].setAttribute('hidden','hidden')
                                    }
                                }
                            }
                        }
                    </script>
                </div>
                <div class="search_input">
                    <button class="btn btn-primary search_btn" type="button" id="search_btn">{{ _('inquiry') }}</button>
                    <button class="btn btn-primary search_btn" type="button" id="back_btn">{{ _('resetting') }} </button>
                </div>
{#                <select name="" id="exit" style="width: 100px" class="select">#}
{#                            <option value="all">{{ _('all') }}</option>#}
{#                            <option value="waiting">{{ _('waiting') }}</option>#}
{#                            <option value="treatment">{{ _('treatment') }}</option>#}
{#                            <option value="surgery">{{ _('surgery') }}</option>#}
{#                            <option value="release">{{ _('release') }}</option>#}
{#                        </select>#}
            </div>
            <div class="line"></div>
        </div>

        <div class="export">
{#            <button id="new_add" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#renyuan">#}
{#                <img src="../static/pic/add_two.png"/>#}
{#                <span>{{ _('ADD') }}</span>#}
{#            </button>#}
            <div class="modal fade" id="renyuan">
                <div class="modal-dialog modal-lg modal_position">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">{{ _('Process appointment information') }}</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                            <table id="xztb" class="table">

                                <tbody>
                                <tr class="testrow">
                                    <td class="tb_bg"><label for="">{{ _('city') }}</label></td>



                                    <td><input name="place" class="city" type="text" placeholder="{{ _('please enter your location') }}"/></td>
                                    <td class="tb_bg"><label for=""><font style="font-size: 14px; color: red;">*</font>{{ _('name') }}</label>
                                    <td><input name="pet_name" class="userName" type="text" placeholder="{{ _('please enter the name of your pets') }}"/></td>



                                </tr>
                                <tr>
                                    <td class="tb_bg"><label for=""><font style="font-size: 14px; color: red;">*</font>{{ _('tel') }}</label>
                                        </td>
                                    <td><input name="phone" class="phoneNum" type="number" placeholder="{{ _('Please write down the correct number') }}"/></td>
                                    <td class="tb_bg"><label for="">{{ _('another information') }}</label></td>
                                    <td><input name="description" type="text" placeholder="{{ _('You can post some information') }}"/></td>

                                    </td>


                                </tr>

                                   <tr>
                                    <td class="tb_bg"><label for="">{{ _('type') }}</label></td>
                                    <td><input name="pet_type" class="petstype" type="text" placeholder="{{ _('pets type') }}"/></td>

                                    </td>
                                      <td class="tb_bg"><label for="">{{ _('Status') }}</label></td>
                                    <td>
                                        <select name="status" class="form-control select_down" style="font-size: 13px; color: #666;">
                                            <option>{{ _('waiting') }}</option>
                                            <option>{{ _('treatment') }}</option>
                                            <option>{{ _('surgrey') }}</option>
                                            <option>{{ _('release') }}</option>
                                        </select>
                                    </td>
                                   </tr>
                                <tr>

                                    <td class="tb_bg"><label for=""><font style="font-size: 14px; color: red;"></font>{{ _('date[surgery]') }}</label>
                                        </td>
                                            <td><input name="sergery_time" class="jobNum" type="date" placeholder="{{ _('date of surgery') }}" /></td>
                                    <td class="tb_bg"><label for=""></font>{{ _('date[release]') }}</label></td>
                                    <td><input name="release_time" class=date2 type="date" placeholder="{{ _('date of release') }}" min=""/></td></tr>
                                </tbody>
                            </table>




                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ _('cancel') }}</button>
                            <button name="add_appointment" value="1" id="add_btn" type="button" class="btn btn-secondary">{{ _('confirm') }}</button>
                        </form></div>
                    </div>
                </div>
            </div>
        </div>

        <table id="tb" class="table">
            <thead>
            <tr>
                <th>{{ _('city') }}</th>
                <th>{{ 'customer name' }}</th>
                <th>{{ _('tel') }}</th>
                <th>{{ 'type & birth' }}</th>
                <th>{{ _('another information') }}</th>
                <th> treatment type </th>
                <th> date[treatment]</th>
                <th>{{ _('date[surgery]') }}</th>
                <th>{{ _('date[release]') }}</th>
                <th>{{ _('status') }}</th>
                <th>{{ _('edit') }}</th>
            </tr>
            </thead>
            <tbody id="show_tbody">
            {% for a in appointment%}
            <tr>
{#                <td>{{ hello_world() }}</td>#}
                <td hidden="hidden" class="ena">{{a.app_id}}</td>
                <td>{{{'0':'Beijing','1':'Shanghai','2':'Chenngdu'}[a.place]}}</td>
                <td>{{customer[a.cus_id].cus_real_name}}</td>
                <td>{{customer[a.cus_id].phone}}</td>
                <td>{{ {'0':'Dog','1':'Cat'}[pet_name_list[a.pet_id].pet_type] }}({{ {'0':'mail','1':'female'}[pet_name_list[a.pet_id].pet_gneger] }})&{{ pet_name_list[a.pet_id].pet_birth }}</td>
                <td>{{a.description}}</td>
                <td>{{ {'0':'waiting', '1':'treatment', '2':'surgery', '3':'release', '4':'finish','5':'cancel'}[a.type]}}</td>
                <td>{{a.treatment_time}}</td>
                <td>{{a.sergery_time}}</td>
                <td>{{a.release_time}}</td>
                <td>{{a.status}}</td>
                {% if a.status != '5' and a.status != '4'%}
                <td>
                    <button name="modify_appointment" onclick="window.b=this;preparewindow()" data-toggle="modal" data-target="#Petinfo2" class="edit">edit</button>
                </td>
                    {% else %}
                    <td>
                    <a class="edit">edit</a>
                </td>
                {% endif %}
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
<script>
    function preparewindow() {
        console.log(window.b)
        console.log('here~~~~~~~~~~~~')

        app_id=window.b.parentNode.parentNode.children[0].textContent
        status=window.b.parentNode.parentNode.children[10].textContent
        treatment_date=window.b.parentNode.parentNode.children[7].textContent
        date_surgery=window.b.parentNode.parentNode.children[8].textContent
        date_release=window.b.parentNode.parentNode.children[9].textContent
        arr=document.querySelectorAll('#Petinfo2 .sel122')
		for(var i=0;i<arr.length;i++){
			arr[i].removeAttribute('checked')
			arr[i].removeAttribute('selected')
		}
        console.debug(app_id,status,treatment_date,date_surgery,date_release)
        document.querySelector('#Petinfo2 #app_id').setAttribute('value',app_id)
        document.querySelector('#Petinfo2 .define_select'+status).setAttribute('selected','selected')
        document.querySelector('#Petinfo2 #treatment_time').setAttribute('value',treatment_date)
        document.querySelector('#Petinfo2 #surgery_time').setAttribute('value',date_surgery)
        document.querySelector('#Petinfo2 #release_time').setAttribute('value',date_release)
    }
</script>
<div class="modal fade" id="Petinfo2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ">
                    {{ _('appointment information') }}
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data">
                    <input hidden="hidden" class='apid' name="pid" id="app_id">
                    <label for="sel12">{{ _('status') }}</label>
                        <select name='place' class="form-control place" id="sel122">
                            <option  name='1' value="0"  class="define_select0 dlr">{{ _('Waiting') }}</option>
                            <option name='1' value="1"  class="define_select1 dlr">{{ _('Treatment') }}</option>
                            <option name='1' value="2"  class="define_select2  dlr">{{ _('Surgery') }}</option>
                            <option  name='1' value="3"  class="define_select3 dlr">{{ _('Release') }}</option>
                            <option name='1' value="4"  class="define_select4 dlr">{{ _('Finish') }}</option>
                        </select>
                    <div class="form-group" style="padding-top: 20px">
                        <label class="col-sm-3">{{ _('date[treatment]') }}</label>
                        <input id='treatment_time' name='treatment_time1' type="date" class="form-control treatment_time define_selectdt"  min="" placeholder="{{ _('Date') }}">
                    </div>
                    <div class="form-group" style="padding-top: 20px">
                        <label class="col-sm-3">{{ _('date[surgery]') }}</label>
                        <input id='surgery_time' name='surgery_time1' type="date" class="form-control treatment_time define_selectdt"  min="" placeholder="{{ _('Date') }}">
                    </div>
                    <div class="form-group" style="padding-top: 20px">
                        <label class="col-sm-3">{{ _('date[release]') }}</label>
                        <input id='release_time' name='release_time1' type="date" class="form-control treatment_time define_selectdt"  min="" placeholder="{{ _('Date') }}">
                    </div>
                <button type="submit" class="btn btn-primary" data-dismiss="modal">{{ _('Close') }}
                </button>
                <button  name="update_appointment" type="submit" value="1" class="btn btn-primary" >
                    {{ _('Confirm') }}
                </button>

                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<div class="modal fade" id="alert">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ _('Warning') }}</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure to change? You can not revoke if you choose status is finish!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ _('Close') }}
                </button>
                <form>
                <button type="button" class="btn btn-primary" id="delbtn" data-dismiss="modal">
                    {{ _('Confirm') }}
                </button>
                </form>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">

</script>
<script>
    $(function(){
	var date_now = new Date();
	var year = date_now.getFullYear();
	var month = date_now.getMonth()+1 < 10 ? "0"+(date_now.getMonth()+1) : (date_now.getMonth()+1);
	var date = date_now.getDate() < 10 ? "0"+date_now.getDate() : date_now.getDate();
	$("#treatment_time").attr("min",year+"-"+month+"-"+date);
	$("#surgery_time").attr("min",year+"-"+month+"-"+date);
	$("#release_time").attr("min",year+"-"+month+"-"+date);
    })
</script>

<script src="{{ url_for('static', filename='/js/vendor/mejs.js') }}"></script>
    <script src="../static/js/vendor/jquery.min.js"></script>
	<script src="../static/js/vendor/bootstrap.min.js"></script>
	<script src="../static/js/vendor/owl.carousel.js"></script>
	<script src="../static/js/vendor/jquery.magnific-popup.min.js"></script>

	<!-- SENDMAIL -->
	<script src="../static/js/vendor/validator.min.js"></script>
	<script src="../static/js/vendor/form-scripts.js"></script>

	<script src="../static/js/script.js"></script>
</body>
</html>
