
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_employee.css') }}">
</head>
<body>
 <body style="background-color: #B6ACA3"/>

        <img src="static/pic/employee.png" width="350" height="350" style="position:absolute; left:500px; top:-25px"/>

 <div class="em">
     <a href="{{ url_for('employee_login') }}">Log In</a></li>
     <a href="{{ url_for('employee_register') }}">Registered</a></li>
 </div>



</body>
</html>