<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/css_employee_login.css') }}">
    <link rel="stylesheet" type="text/css" href="http://cdn.bootstrapmb.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/owl.theme.default.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/magnific-popup.css">
	<link rel="stylesheet" type="text/css" href="/static/css/vendor/animate.min.css">

	<!-- ==============================================
	Custom Stylesheet
	=============================================== -->
	<link rel="stylesheet" type="text/css" href="/static/css/astyle.css" />

{#    <script src="/static/js/vendor/modernizr.min.js"></script>#}
</head>


<body>
<!-- LOAD PAGE -->
	<div class="animationload">
		<div class="loader"></div>
	</div>

	<!-- BACK TO TOP SECTION -->
	<a href="#0" class="cd-top cd-is-visible cd-fade-out">Top</a>

	<!-- HEADER -->
    <div class="header header-1">
		<!-- NAVBAR SECTION -->
		<div class="navbar-main">
			<div class="container">
			    <nav id="navbar-example" class="navbar navbar-expand-lg">
			        <a class="navbar-brand" href="employee_main.html">
					</a>
			        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			            <span class="navbar-toggler-icon"></span>
			        </button>
			        <div class="collapse navbar-collapse" id="navbarNavDropdown">
			            <ul class="navbar-nav">
                            <li class="nav-item">
			                    <a class="nav-link" href="{{ url_for('employee_main') }}">HOME</a>
			                </li>
			                <li class="nav-item">
			                    <a class="nav-link" href="{{ url_for('employee_login') }}">LOGIN</a>
			                </li>
                            <li class="nav-item">
			                    <a class="nav-link" href="{{ url_for('employee_register') }}">REGISTER</a>
			                </li>
			            </ul>
{#			            <a href="{{ url_for('employee_ap') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">MANAGE AN APPOINTMENT</a>#}
{#                         <a href="{{ url_for('employee_qa') }}" class="btn btn-secondary btn-nav btn-rect ml-auto">Q & A</a>#}
			        </div>
			    </nav> <!-- -->

			</div>
		</div>

    </div>
    <div class="wrapl"  style="background: rgba(240,171,60,0.6);height:100%;overflow: hidden;" >
     <div class="sign-div" style="height:100%">
    <form class=""  method="post">
        <h1 style="color: whitesmoke">Login</h1>
        <input class="sign-text" type="email" placeholder="EmployeeEmail" >
        <input class="sign-text" type="password" placeholder="password">
        <td>
{#            <a href="employee_main.html">#}
                <input class="sign-btn" type="button" value="Sign In" onclick=javascrtpt:window.location.href="{{ url_for('employee_main') }}">

        </td>

        <td>
             <a href="{{ url_for('employee_register') }}">You didn't register?</a>
        </td>


    </form>
          </div>
         <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    </div>

    
</body>
</html>
