<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Healing Paws</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/css_main.css') }}">
        <script src="{{ url_for('static', filename='js/js_main.js') }}"></script>
</head>
   
<body style="background-color: #B6ACA3"/>

<img src="static/pic/logo.png" width="230" height="228" style="position:absolute; left:0px; top:-85px; "/>


    <ul id="index">

            <li><a href="about.html">About Us</a>
                <ul>
                     <li><a href="#">the doctor introduction</a></li>
                    <li><a href="#">medical equipment</a></li></ul>
            </li>

            <li>
			<a href="store.html">Store Inquiry</a>
                <ul>
                    <li><a href="#">Store List</a></li>
                    <li><a href="#">Map Query</a></li>
                </ul></li>


            <li>
            <a href="customer.html">Customer</a>
                <ul>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#">Registered</a></li>
                </ul>
            </li>

            <li>
            <a href="{{ url_for('employee') }}">Employee</a>
                <ul>
                    <li><a href="{{ url_for('employee_login') }}">Log In</a></li>
                    <li><a href="{{ url_for('employee_register') }}">Registered</a></li>
                </ul>
            </li>
		</ul>
    <hr/>

   <div style="width:900px;padding-top:100px;margin-left:250px;overflow:hidden"> <!-- 这个最外围的容器div宽度为900px，每张图宽为300px，所以只显示3张，剩下的图超出容器隐藏起来 -->
      <div class="imgs" style="width:50000px;"><!--这个div的作用是让所有的图片都排在同一水平上，这样子切换的时候效果会更好-->
           <img src="../static/pic/pic1.jpg" /><!--这里的图片换上到时候自己对应的图片-->
           <img src="../static/pic/pic2.jpg" />
           <img src="../static/pic/pic3.jpg" />
      </div>
  <div>
   <div onclick="pre()" style="float:left;cursor:pointer;position: absolute; left: 100px;top:330px">LAST</div>
   <div onclick="nex()" style="float:right;cursor:pointer;position: absolute; right: 100px;top:330px">NEXT</div>


  </div>
 </div>



<img src="../static/pic/tel.png" width="60" height="60" style="position:absolute; left:1000px;top:2px"/>

<b><p style="position:absolute; left:1050px;top:25px">Tel:010-8093 5851 </p></b>
<div>
	<p align="center">Copyright &copy; 2020</p>
</div>
</body>
</html>