.em {
            text-align: center;
            font-size: 28px;
        }
a{
            display: inline-block;
            height: 32px;
            width: 120px;
            border-radius: 4px;
            background: #7d7d7d;
            box-shadow: -1.5px -.5px 2px 2px #000;
            text-decoration:none;
            margin-left:20px;
        }